<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Focus the input box when the page loads
            document.querySelector('input[name="guess"]').focus();
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Hangman!</h1>

        <!-- Dynamically set hangman image based on remaining attempts -->
        <img src="{{ url_for('static', filename='hangman' ~ (8 - game.attempts) ~ '.png') }}" alt="hangman" height="100">

        <p class="message">{{ message }}</p>
        <p class="success">{{ success }}</p>
        <div class="game-info">
            <p class="red">Attempts remaining: <span>{{ game.attempts }}</span></p>
            <p>Word: <span>{{ game.word_display | join(' ') }}</span></p>
        </div>
        <form method="post" class="guess-form">
            <input type="text" name="guess" maxlength="1" required autofocus>
            <input type="submit" value="Guess">
        </form>
        <form action="{{ url_for('reset') }}" method="post" class="reset-form">
            <input type="submit" value="Start New Game" class="new-game-btn">
        </form>
    </div>
    <div class="guessed-letters-box">
        <p>Guessed letters:</p>
        <span>{{ game.guessed_letters | join(', ') }}</span>
    </div>
</body>
</html>
